@media screen and (max-width: 480px) {
    
    
    #up{
 
    bottom:5px;
    right: 10px;

}
    

    textarea{
    width: 300px;
  
}
     
/*----------------------------------HEADER----------------------------->    */
    #header-container{
        width: auto;
/*        height: 100%;*/

    }
    
 
    
   .logo{
    
  display: none;

} 
    
    .menu-con{
        width: auto;
    margin-top: 20px;
    float: none;
    margin-right:0px;
    font-size: 10px;
}
    
    .menu-con #menu li{
    float: left;
    margin-right:8px;
}
    
    .title{
        position: absolute;
          
}
        .title h1{
        font-size: 40px;
}
   
 /*----------------------------------ABOUT----------------------------->    */   
    
    
    #about{
        padding: 0 10px;
    height: auto;
    width: auto;
    padding-top: 5px;
    padding-bottom: 50px;
}
    #about-con{
    width:auto;
    height: auto;
    margin-top: 50px;
     
}

    .left,.center,.right{
    float: none;
}
    
    
    
    .left{
    margin-top: 20px;
    margin-right: 0px;
    
  
}
    .right{


    margin-top:0px;

}
    
.center img{

    margin-top:0px;
}

.center{

    height: auto;
    padding-bottom: 0px;
    margin-left: 0px;
    margin: auto;
      margin-top:30px;
   

}
    .ih-item.circle {
            margin: 50px auto;
            top: 25px;
    }
 /*----------------------------------SKILL----------------------------->    */       
    

#skills-container{
    padding: 0 10px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 50px;
    
   
}
.skills-title{
    font-size: 1.2em;
    width: auto;
    letter-spacing: 4px;
    padding-bottom: 0px;
    margin-bottom: 70px;
}
    .skills-title:hover{
    width: auto;
    letter-spacing: 6px;
}
    
    
.skills-block{
    width:auto;
    height:auto;
   
}
.elemet-skill{
    float: none;
}



 /*----------------------------------WORKS----------------------------->    */  
    
  
 
.work{
    padding: 0 10px;
    width: auto;
    height: auto;
    padding-bottom: 0px;
  
}

.work-img{
    float: none; 
    width: auto;
    height: auto;
 

}
    .work-img img{
        margin: auto;
        display: block;
        width: 300px;
        height:200px;
    }
.work-img img:hover{
  transform: scale(1.2);
}

.work-txt{
    text-align: center;
    float: none;
    padding-top: 0px;
    height: 200px;

  
}
.work-txt h3{
     text-align: center;
    float: none; 
}
.work-txt p{
 float: none;   
}
    


 /*----------------------------------CONTACTS----------------------------->    */  


#contact{
    padding: 0 10px;
    height: auto;
    width: auto;
    padding-top: 50px;
    position: relative;
    
}

#contact-title{
    width: 250px;
    text-align: center;
    font-size: 1.4em;
    top:50px;
    position: relative;
    color: #4a4a4a;
    font-family: myFontBold;
    border-bottom: 7px solid #00B6AE;
    letter-spacing: 4px;   
}

.block-form,.block-left{
    float: none;
    margin-top: 100px;
   width: auto;
 
}
    .block-left{
         margin-top: 50px;
        height: 300px;
        margin-left: 0px;
        
    }   
    
   /*----------------------------------FOOTER---------------------------->    */    
    
    #footer{
    background-image: url(img/gif2.gif);
    height: 100px;
    margin-top: 130px;
    text-align: center;
    position: relative;
        width: auto;
}
#overlay2{
    
    width: 100%;
    height: 100%;
    background: rgba(74,74,74,0.8);
    position: absolute;
    top: 0;
}
#footer a{
    color: #fff;
    font-size: 1em;
    font-family: myFont;
    position: relative;
    top: 40px;
  
}
    
    
}


/*------------------------------------------------------------------------------------------------------------------------------------*/






@media screen and (max-width: 980px) and (min-width: 650px) {
     #up{
    bottom:5px;
    right: 10%;
   
    
    
}
    
    
    
    
/*----------------------------------HEADER----------------------------->    */
    #header-container{
        width: auto;
/*        height: 100%;*/

    }
    
 
    
   .logo{
    
      display: block;
       margin-left: 20px;
    font-size: 11px;
} 
   
    
    .menu-con{
    width: auto;
    margin-top: 20px;
    float: right;
    margin-right:0;
  
    font-size: 15px;

}
    
    .menu-con #menu li{
    float: left;
    margin-right:8px;
}
    

 




   
 /*----------------------------------ABOUT----------------------------->    */   
    
    
    #about{
        padding: 0 10px;
    height: auto;
    width: auto;
    padding-top: 5px;
    padding-bottom: 50px;
}
    #about-con{
    width:auto;
    height: auto;
    margin-top: 50px;
     
}

    .left,.center,.right{
    float: none;
        
}
    
    .ih-item.circle {
            margin: 50px auto;
            top: 25px;
    }
    
    .left{
    margin-top: 20px;
    margin-right: 0;
    margin: auto;
    left: 25%;
    position: relative;
       
  
}
    .right{


    margin-top:0px;
    margin: auto;
    left: 25%;
    position: relative;
}
    
.center img{

    margin-top:0;
}

.center{

    height: auto;
    padding-bottom: 0;
    margin-left: 0;
    margin: auto;
    margin-top:30px;
   
   

}
    
 /*----------------------------------SKILL----------------------------->    */       
    

#skills-container{

    padding: 0 20px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 50px;
    
   
}
.skills-title{
    font-size: 1.0em;
    width: auto;
    letter-spacing: 4px;
    padding-bottom: 0px;
    margin-bottom: 70px;
}
    .skills-title:hover{
    width: auto;
    letter-spacing: 6px;
}
    
    
.skills-block{
    width:auto;
    height:auto;
   
}
.elemet-skill{
    float: none;
}



 /*----------------------------------WORKS----------------------------->    */  
    
  
 
.work{
    width: auto;
    height: auto;
    padding-bottom: 0;
  
}

.work-img{
    float: none; 
    width: auto;
    height: auto;
 

}
    .work-img img{
        margin: auto;
        display: block;
        width: 300px;
        height:200px;
    }
.work-img img:hover{
  transform: scale(1.2);
}

.work-txt{
    text-align: center;
    float: none;
    padding-top: 0px;
    height: 200px;

  
}
.work-txt h3{
     text-align: center;
    float: none; 
}
.work-txt p{
 float: none;   
}
    


 /*----------------------------------CONTACTS----------------------------->    */  


#contact{
    padding: 0 20px;
    height: auto;
    width: auto;
    padding-top: 50px;
    position: relative;
    
}

#contact-title{
    width: 250px;
    text-align: center;
    font-size: 1.4em;
    top:50px;
    position: relative;
    color: #4a4a4a;
    font-family: myFontBold;
    border-bottom: 7px solid #00B6AE;
    letter-spacing: 4px;   
}

.block-form,.block-left{
    float: none;
    margin-top: 100px;
   width: auto;
 
}
    .block-left{
         margin-top: 50px;
        height: 200px;
        margin-left: 0px;
        
    }   
    
    .left-el{
        float: none;
    }
    
   /*----------------------------------FOOTER---------------------------->    */    
    
    #footer{
    background-image: url(img/gif2.gif);
    height: 100px;
    margin-top: 130px;
    text-align: center;
    position: relative;
        width: auto;
}
#overlay2{
    
    width: 100%;
    height: 100%;
    background: rgba(74,74,74,0.8);
    position: absolute;
    top: 0;
}
#footer a{
    color: #fff;
    font-size: 1em;
    font-family: myFont;
    position: relative;
    top: 40px;
  
}
/*    ---------------------------PRELOAD-------------------------------------------------  */
    
  
    
    
}

/*------------------------------------------------------------------------------------------------------------------------------------*/






@media screen and (max-width: 649px) and (min-width: 481px) {
 
    
    
      
    
     #up{
    width: 75px;
    height: 75px;
    background-image:url(img/up-button.png);
    z-index: 110;
    position: fixed;
    bottom:5px;
    right: 0px;
    background-size: cover;
    opacity: 0.4;
    transition: 0.2s;
    display: none;
    
    
}
    
    
/*----------------------------------HEADER----------------------------->    */
    #header-container{
        width: auto;
/*        height: 100%;*/

    }
    
 
    
   .logo{
    
      display: none;
      
} 
   
    
    .menu-con{
    width: auto;
    margin-top: 25px;
    float: none;
    margin-right:0;
    font-size: 15px;

}
    
    .menu-con #menu li{
    float: left;
    margin-right:8px;
      
}
    

   
 /*----------------------------------ABOUT----------------------------->    */   
    
    
    #about{
        padding: 0 10px;
    height: auto;
    width: auto;
    padding-top: 5px;
    padding-bottom: 50px;
}
    #about-con{
    width:auto;
    height: auto;
    margin-top: 50px;
     
}

    .left,.center,.right{
    float: none;
        
}
    
    
    
    .left{
    margin-top: 20px;
    margin-right: 0;
    margin: auto;
    left: 25%;
    position: relative;
       
  
}
    .right{


    margin-top:0px;
    margin: auto;
left: 25%;
    position: relative;
}
    
.center img{

    margin-top:0;
}

.center{

    height: auto;
    padding-bottom: 0;
    margin-left: 0;
    margin: auto;
    margin-top:30px;
   
   

}
    
 /*----------------------------------SKILL----------------------------->    */       
    

#skills-container{
    padding: 0 10px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 50px;
    
   
}
.skills-title{
    font-size: 1.2em;
    width: auto;
    letter-spacing: 4px;
    padding-bottom: 0px;
    margin-bottom: 70px;
}
    .skills-title:hover{
    width: auto;
    letter-spacing: 6px;
}
    
    
.skills-block{
    width:auto;
    height:auto;
   
}
.elemet-skill{
    float: none;
}



 /*----------------------------------WORKS----------------------------->    */  
    
  
 
.work{
    padding: 0 10px;
    width: auto;
    height: auto;
    padding-bottom: 0;
  
}

.work-img{
    float: none; 
    width: auto;
    height: auto;
 

}
    .work-img img{
        margin: auto;
        display: block;
        width: 300px;
        height:200px;
    }
.work-img img:hover{
  transform: scale(1.2);
}

.work-txt{
    text-align: center;
    float: none;
    padding-top: 0px;

  
}
.work-txt h3{
     text-align: center;
    float: none; 
}
.work-txt p{
 float: none;   
}
    


 /*----------------------------------CONTACTS----------------------------->    */  


#contact{
    padding: 0 10px;
    height: auto;
    width: auto;
    padding-top: 50px;
    position: relative;
    
}

#contact-title{
    width: 250px;
    text-align: center;
    font-size: 1.4em;
    top:50px;
    position: relative;
    color: #4a4a4a;
    font-family: myFontBold;
    border-bottom: 7px solid #00B6AE;
    letter-spacing: 4px;   
}

.block-form,.block-left{
    float: none;
    margin-top: 100px;
   width: auto;
 
}
    .block-left{
         margin-top: 50px;
        height: 200px;
        margin-left: 0px;
        
    }   
    
    .left-el{
        float: none;
    }
    
   /*----------------------------------FOOTER---------------------------->    */    
    
    #footer{
    background-image: url(img/gif2.gif);
    height: 100px;
    margin-top: 130px;
    text-align: center;
    position: relative;
        width: auto;
}
#overlay2{
    
    width: 100%;
    height: 100%;
    background: rgba(74,74,74,0.8);
    position: absolute;
    top: 0;
}
#footer a{
    color: #fff;
    font-size: 1em;
    font-family: myFont;
    position: relative;
    top: 40px;
  
}
    
    
    
    
}
