@font-face {
	font-family: myFont; 
	src: url(../fonts/Montserrat-Regular.otf); 
}
@font-face {
	font-family: myFontBold; 
	src: url(../fonts/Montserrat-Bold.otf); 
}

*{
	margin: auto;
	position: auto;
	box-sizing: border-box;
	
}

#about div{
	 cursor: pointer;
}

a{
	text-decoration: none;
}


#up{
	width: 75px;
	height: 75px;
	background-image:url(../img/up-button.png);
	z-index: 110;
	position: fixed;
	bottom:50px;
	right:100px;
	background-size: cover;
	opacity: 0.4;
	transition: 0.2s;
	display: none;
	
	
}

/*Header------------------------>*/


#header-container1,#header-container2,#header-container3{
	width: 100%;
	height: 700px;
	background: url(../img/bg/8.jpg) no-repeat center;
	background-size: cover;
	position: absolute;
	z-index: 0;
	background-attachment: fixed;
	
}
#header-container2{

	background: url(../img/bg/5.jpg) no-repeat center;

}


#header-container3{
	background: url(../img/bg/1.jpg) no-repeat center;
	
}


#header-container{
	width: 100%;
	height: 700px;
	z-index: 99;
	background-size: cover;
}
#header{
	width: 100%;
	height: 75px;
	position: fixed;
	color: #fff;
	z-index: 100;
}

#headerFade{
	width: 100%;
	height: 75px;
	position: fixed;
	z-index: 100;
	background:#4a4a4a;
	opacity: 0.9;
	display: none;
}

.logo{
	
	float: left;
	width: auto;
	font-family: myFontBold;
	margin-left: 100px;
	margin-top: 20px;
	letter-spacing: 4px;
 
}

.menu-con{
	margin-top: 20px;
	float: right;
	margin-right: 100px;
}

.menu-con #menu li{
	float: left;
	list-style: none;
	font-family: myFont;
	margin-right: 30px;
	font-size: 1.4em;
	 
}
.menu-con #menu li a{
	color: #fff; 
	font-family: myFontBold;
	transition: 0.4s;
}




/*Title------------------------>*/

.title{
	
	color: #fff;
	font-family: myFontBold;
	position: relative;
	text-align: center;
	width: auto;
	margin: 0;
	top: 30%;
	cursor: pointer;
	 
	 
}


.title h1{
	
	color: #ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

.title h4{  
font-size: 18px;
font-weight: 400;
	 transition: 1s; 
}
.title a{
	
	color: #FFF;
	background: #00B6AE;
	font-family: myFontBold;
	font-size: 1.1em;
	padding: 0.6em 2em;
	margin: 1.5em;
	display: inline-block;
	border-radius: 4px;
	transition: 0.2s;
}





/*About------------------------>*/



#about{
	overflow: hidden;
	width: 100%;
	padding-top: 50px;
}

.title-about{
	text-align: center;
	font-size: 1.4em;
	position: relative;
	top:50px;
	width: 200px;
	color: #4a4a4a;
	font-family: myFontBold;
	border-bottom: 7px solid #00B6AE;
	letter-spacing: 4px;
	 
	
}

#about-con{
	width:900px;
	height: 500px;
	
}

.left,.center,.right{
	margin-top: 50px;
	width: 300px;
	height: 400px;
	float: left;
	font-family: myFontBold;
	color: #4a4a4a;
	font-size: 1.5em;
	text-align: right;
	 
	
}

 span{
	float: right; 

}
.sp{
	float:left;
	margin-right: 20px;

}
#name,#bd,#ad,#ph{
	margin-bottom: 70px;
	 
}

.left,.right{
	padding-top: 40px;
}
 p{
	 font-family: myFont; 
	font-size: 0.8em;
}


#name,#bd,#bp h3,p{
	float: left;
}
#ad,#ph,#ml h3,p{
	float: right;

}
#ml p {
	font-size: 0.6em;
}
#ml h3{
	float: left;
}
.textMe {
	margin-top: 70px;
	text-align: center;
	font-size: 1em;
	color: #4a4a4a;
	float: none;
}

/* BEGIN - hover-effect */
.ih-item {
	position: relative;
	-webkit-transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}
.ih-item img {
	width: 100%;
	height: 100%;
}
.ih-item.circle {
	position: relative;
	top: 75px;
	padding: 25px;
	width: 300px;
	height: 300px;
	border-radius: 50%;
}
.ih-item.circle .img {
	position: relative;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	z-index: 1;
	-webkit-transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}
.ih-item.circle .img:before {
	position: absolute;
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	border-radius: 50%;
	box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
	-webkit-transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}
.ih-item.circle .img img {
	border-radius: 50%;
}
.ih-item.circle .info {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	border-radius: 50%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.ih-item.circle.colored .info {
	background: #1a4a72;
}
.ih-item.circle .info {
	background: #00b7af;
	opacity: 0;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}
.ih-item.circle .info h3 {
	color: #fff;
	text-transform: uppercase;
	position: relative;
	letter-spacing: 2px;
	font-size: 22px;
	text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
}
.ih-item.circle .info p {
	color: #bbb;
	font-style: italic;
	font-size: 12px;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.ih-item.circle a:hover .info {
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(.8);
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	-o-transform: scale(.8);
	transform: scale(.8);
}
.ih-item.circle .info h3 {
	margin: 0 30px;
	padding: 25px 0 0 0;
	height: 78px;
	float: none;
	font-size: 1.5em;
}
.ih-item.circle .info p {
	margin: 0 30px;
	padding: 5px;
	float: none;
}
.ih-item.circle a:hover .img {
	-webkit-transform: translateY(50px) scale(0.5);
	-moz-transform: translateY(50px) scale(0.5);
	-ms-transform: translateY(50px) scale(0.5);
	-o-transform: translateY(50px) scale(0.5);
	transform: translateY(50px) scale(0.5);
}
/* END - hover-effect */


/* BEGIN - Skills */
#skills-container div{
	cursor: pointer;
}


#skills-container{
	width: 100%;
	overflow: hidden;
	background: #fafafa;
	padding-top: 50px;

	
	 
}
.skills-title{
	top: 50px;
	text-align: center;
	font-size: 1.4em;
	position: relative;
	width: 500px;
	color: #4a4a4a;
	font-family: myFontBold;
	border-bottom: 7px solid #00B6AE;
	letter-spacing: 4px;
	padding-bottom: 20px;
	margin-bottom: 50px;
}
	
.skills-title h4{
	padding-top: 20px;
	font-size: 1.0em;
	font-family: myFont;
} 
	
.skills-block{
	width:625px;
	height:400px;
	 
}
.elemet-skill{
	height: 150px;
	width:310px;
	float: left;
	padding: 10px;
	
	
}



.skill1,.skill2,.skill3,.skill4,.skill5,.skill6{
	width: 80px;
	height: 110px;
	margin-top: 30px;
	margin-left: 50px;
	background-size: 60px 83px;
	background-repeat: no-repeat;
	float:left;
	
}


.skill1{
	 background-image: url(../img/html.png);
	
}

.skill2{
	 background-image: url(../img/jq.png);
	
}

.skill3{
	
	background-image: url(../img/css.png);
	 
}


.skill4{
	 background-image: url(../img/wp.png);
	
}

.skill5{
	 
	background-image: url(../img/js.png);
	 
}

.skill6{
	 background-image: url(../img/ps.png);
	
}

	
.skill-text  {
	 font-size: 1.0em;
	font-family: myFont;
	 margin-top: 50px;
	text-align: center;
	 color: #4a4a4a;
}

/*Works------------------------------------------------------------------->*/

#works div{
	cursor: pointer;
}

#works{
	background-image: url(../img/bg/FSPLFPQBCZ.jpg);
	background-size: cover;
	padding-top: 30px;
	background-attachment: fixed;
	position: relative;
}   
	#overlay{
		width: 100%;
		height: 100%;
		background: rgba(0,182,174,0.8);
		position: absolute;
		top:0px;
}
	
.work{
	width: 800px;
	height: 300px;
	padding-top: 20px;
/*    padding-bottom: 20px;*/
}

.work-img{
	width: 500px;
	height: 300px;
	float: left;
	
}
	
.work-img img{
	width: 400px;
	height: 240px;
}

.work-txt{
	width: 300px;
	height: 300px;
	text-align: left;
	color: #fff;
	font-size: 1.2em;
	float: left;
	padding-top: 20px;
	color: #4a4a4a;
	
}
.work-txt h3{
	 font-family: myFontBold;
	 color: #fff;
/*     padding-bottom: 15px;*/
	 font-size: 2em;
}
.work-txt p{
 float: left;   
}
	
#works-title{
	
	width: 200px;
	text-align: center;
	font-size: 1.4em;
	top:50px;
	color: #fff;
	font-family: myFontBold;
	border-bottom: 7px solid #4a4a4a;
	letter-spacing: 4px;
	position: relative;
	margin-bottom: 75px;
	
	
}      
	
.work-txt a{
	
	color: #4a4a4a;
	background: #FFF;
	font-family: myFontBold;
	font-size: 1.1em;
	padding: 0.6em 2em;
	margin: 1.5em;
	display: inline-block;
	border-radius: 4px;
	transition: 0.2s;
	 
}



/*CONTACT------------------------------------------------------>*/

#contact div{
	cursor: pointer;
}

#contact{
	
	height: 700px;
	width: 900px;
	padding-top: 50px;
	position: relative;
	
}

#contact-title{
	width: 250px;;
	text-align: center;
	font-size: 1.4em;
	top:50px;
	position: relative;
	color: #4a4a4a;
	font-family: myFontBold;
	border-bottom: 7px solid #00B6AE;
	letter-spacing: 4px;   
}

.block-form,.block-left{
	float: left;
	margin-top: 50px;
	width: 400px;
	
}

#contact input{
	 font-size: 1.4em;
	font-family: myFont;
	 border: none;
	 margin-left: 10px;
	padding-bottom: 20px;
	 display:inline
}
#contact input:focus, #contact textarea:focus, keygen:focus, select:focus {
    outline: none;
}
.form-email,.form-message,.form-name{
	margin-top: 30px;
	border-bottom: 3px solid #00B6AE;
}


#contact label{
	color: #4a4a4a;
	font-size: 1.4em;
	font-family: myFont;
}

#contact textarea{
	border: none;
}
#contact button {
	 border: none;
	color: #FFF;
	background: #00B6AE;
	font-family: myFontBold;
	font-size: 1.1em;
	padding: 0.6em 2em;
	margin: 1.5em;
	display: inline-block;
	border-radius: 4px;
	transition: 0.2s;
	cursor: pointer;
	
}

#contact button:hover{
	background: #23938e;
	font-size: 1.2em;
}
textarea{
	width: 400px;
	resize: none;
	 font-size: 1.4em;
	font-family: myFont;
}

#contact img{
	width: 36px;
	height: 36px;
}

.block-left{
	margin-left: 100px;
	margin-top: 100px;
	float: right;

}
.left-el{
	width: 320px;
	float: left;
	margin-bottom: 40px;
	padding: 3px;
}

.block-left img{
	margin-right: 20px; 
	border-radius: 50px;
	border: 3px solid #00B6AE;
	width: 100px;
	height: 100px;
}


.block-left img,h3{
	float: left;
	line-height: 2;
	font-family: myFont;
	color: #4a4a4a;
	
}


/*FOOTER--------------------------------------------------->*/



#footer{
	background-image: url(../img/gif.gif);
	height: 100px;
	margin-top: 130px;
	text-align: center;
	position: relative;
}
#overlay2{
	
	width: 100%;
	height: 100%;
	background: rgba(74,74,74,0.8);
	position: absolute;
	top: 0;
}
#footer a{
	color: #fff;
	font-size: 1em;
	font-family: myFont;
	position: relative;
	top: 40px;
	
}

/*EFECTS------------------------------------------------>*/


/*Header*/


/*
.menu-con #menu li a:hover{
	color: #00B6AE;
	font-size: 1.2em; 
}
*/

/*Title button*/


.title a:hover{
	background: #23938e;
	font-size: 1.2em;
}

/*Button SEE*/



.work-txt a:hover{
	font-size: 1.2em;
	box-shadow: -11px 7px 16px 1px
}

/*Button SENT*/



#contact button:hover{
	background: #23938e;
	font-size: 1.2em;
}

#up:hover{
	width: 80px;
	height: 80px;
	opacity: 1;
	
}


.elements-move{
	transition: 0.5s;
}
.elements-move:hover{
	padding-left: 9px;
	 padding-right: 9px;
	 
	
}

.title-about{
	transition: 0.5s;
}
.title-about:hover{
	width: 250px;
	letter-spacing: 10px;
	
	
}

/* .center img{
	transition: 1s;
} */
/* .center img:hover{
	transform: rotateY(180deg);
} */


.skills-title{ 
	transition: 1s;}

.skills-title:hover{
	width: 600px;
	letter-spacing: 10px;
}

.elemet-skill{
	transition: 0.5s;
}
.elemet-skill:hover{


	border-radius: 15px;
	box-shadow:
 0 1px 4px rgba(0, 0, 0, .3),
	 -23px 0 20px -23px rgba(0, 0, 0, .8),
	 23px 0 20px -23px rgba(0, 0, 0, .8),
	 0 0 40px rgba(0, 0, 0, .1) inset;
	
}

#works-title{
	transition: 1s;
}
#works-title:hover{
	width: 250px;
	letter-spacing: 10px;
}

.work-img img{
	transition: 1s;
}

.work-img img:hover{
	transform: scale(1.3);
}

#contact-title{
	transition: 1s;
}
#contact-title:hover{
	width: 300px;
	letter-spacing: 10px;
}

.left-el{
	transition: 0.5s;
}


.left-el:hover{
	box-shadow:
	 0 1px 4px rgba(0, 0, 0, .3),
	 -23px 0 20px -23px rgba(0, 0, 0, .8),
	 23px 0 20px -23px rgba(0, 0, 0, .8),
	 0 0 40px rgba(0, 0, 0, .1) inset;
	
	border-radius: 7px;
}



#sorry{
	width: 100%;
	height: 100%;
	position:fixed;
	display: none;
	background: rgba(74,74,74,0.9);
	z-index: 9999;
/*    opacity: 0.9;*/
	top:0px;
	 
	
}

#sorryBlock{
	
	width: 400px;
	height: 250px;
	color: #fff;
	background: #00B6AE;
	 box-shadow:
	 0 1px 4px rgba(0, 0, 0, .3),
	 -23px 0 20px -23px rgba(0, 0, 0, .8),
	 23px 0 20px -23px rgba(0, 0, 0, .8),
	 0 0 40px rgba(0, 0, 0, .1) inset;
	
	border-radius: 7px;
	margin-top: 12.5%;
	padding-top: 50px;
	z-index: 99999;
	display: none;
}

#sorry h1{
	text-align: center;
	font-family: myFont;
	color: #4a4a4a;
	font-size: 50px;
	 
}
#sorryBlock p{
	text-align: center;
	font-family: myFont;
	color: #fff;
	font-size: 20px;
	margin-top: 30px;
	float: none;
	margin: auto;
	
}

/*
#sorryBlock span{
	font-family: myFont;
	color: #fff;
	position: relative;
	top:-45px;
	right: 7px;
}
*/
